@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 15px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display:flex;
    justify-content: center;
    height: 110vh;
    align-items: center;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    border-radius:50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition:flex 0.5s ease-in;
}

.panel h3{
    position: absolute;
    font-size: 23px;
    bottom:23px;
    left:23px;
    margin:0;
    opacity: 0;
}

.panel.active{
    flex: 10;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.2s ease-in 0.3s;
}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }

    .panel:nth-last-of-type(4),
    .panel:nth-last-of-type(5){
        display:none
    }
}

